<p class="Title">Riya Garg</p>
<p><strong>Contact:&nbsp;</strong>+917727060008</p>
<p><strong>Email:&nbsp;</strong>g.riya0831@gmail.com</p>
<p class="BodyText"><strong>LinkedIn:&nbsp;</strong><a href="https://www.linkedin.com/in/riya-garg-aba50b241"><span class="Hyperlink">https://www.linkedin.com/in/riya-garg-aba50b241</span></a></p>
<p class="BodyText">CAREER OBJECTIVES</p>
<ul>
<li class="BodyText">To develop skills and technical knowledge that would benefit the organization.</li>
</ul>
<p class="BodyText"></p>
<h1>EDUCATION</h1>
<ul>
<li class="BodyText">Arya College of Engineering &amp; Information Technology &ndash; Rajasthan | Bachelor of Technology&nbsp;|&nbsp;Computer Science|&nbsp;2026 | CGPA- 9.71</li>
<li class="BodyText">Luv Kush Model School &ndash; Rajasthan | Senior Secondary Education | 2021 | 87.8%</li>
<li class="BodyText">Good Shepherd Public School &ndash; Rajasthan&nbsp;|&nbsp;Secondary Education | 2019 | 95.4%</li>
</ul>
<p class="BodyText"></p>
<h1>TECHNICAL SKILLS &</h1>
<ul>
<li class="ListParagraph">C Language (Basic)&nbsp;</li>
<li class="ListParagraph">Object Oriented Programming Language&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
<li class="ListParagraph">C++ Language</li>
<li class="ListParagraph">Data Structure and Algorithm</li>
<li class="ListParagraph">Python</li>
<li class="ListParagraph">Html &amp; CSS</li>
<li class="ListParagraph">Javascript</li>
</ul>
<p class="ListParagraph">&nbsp;</p>
<p>CERTIFICATIONS</p>
<ul>
<li class="ListParagraph">Red Hat Certified System Administrator (RHCSA)</li>
<li class="ListParagraph">Cisco Networking Academy Programming Essentials in C</li>
<li class="ListParagraph">NPTEL Problem Solving through Programming In C</li>
<li class="ListParagraph">NPTEL Programming in Modern C++</li>
<li class="ListParagraph">Spoken Tutorial Cpp</li>
<li class="ListParagraph">Fundamentals of Salesforce and Internship Certificate</li>
</ul>
<p class="ListParagraph">&nbsp;</p>
<h1>PROJECTS</h1>
<ul>
<li class="ListParagraph">PORTFOLIO</li>
</ul>
<p class="ListParagraph">Developed a portfolio website describing about myself using frontend knowledge.</p>
<ul>
<li class="ListParagraph">Developed a firebase project.</li>
<li class="ListParagraph">TOURISTO</li>
</ul>
<p class="ListParagraph">Developed a travelling planner app.</p>
<p class="ListParagraph">&nbsp;</p>
<p>INTERNSHIP</p>
<ul>
<li class="ListParagraph">CELEBEL TECHNOLOGIES</li>
</ul>
<p class="ListParagraph">June 2,2025 &ndash; August 3,2025</p>
<p class="ListParagraph">Role: App modernization intern</p>
<p class="ListParagraph">&nbsp;</p>
<ul>
<li class="ListParagraph">TECHFORCE ACADEMY, Australia</li>
</ul>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Salesforce Inc. |July 5,2024 &ndash; August 23,2024</p>
<p class="ListParagraph">Role: Salesforce administrator</p>
<p class="ListParagraph">Completed the course of fundamental of salesforce while doing internship and&nbsp;&nbsp;made projects.</p>
<p class="ListParagraph">&nbsp;</p>
<h1>EXTRACURRICULAR ACTIVITIES</h1>
<ul>
<li class="ListParagraph">Secured&nbsp;<strong>1</strong><strong><sup>st</sup></strong><strong>&nbsp;position</strong>&nbsp;in Victory-25 National level Inter-College Cultural fest</li>
</ul>
<ul>
<li class="ListParagraph">Secured&nbsp;<strong>2</strong><strong><sup>nd</sup></strong><strong>&nbsp;position</strong>&nbsp;in Scintillations National Level Technical Fest &ndash; 2023, organized in college</li>
<li class="ListParagraph">Secured&nbsp;<strong>3</strong><strong><sup>rd</sup></strong>&nbsp;<strong>position</strong>&nbsp;in Startup Expo &ndash; 2024, organized in college</li>
</ul>
<p class="ListParagraph">&nbsp;</p>
<h1>PERSONAL INFORMATION</h1>
<ul>
<li class="ListParagraph">Gender : Female</li>
<li class="ListParagraph">DOB : 31/08/03</li>
<li class="ListParagraph">Languages : Hindi, English</li>
</ul>
<ul>
<li class="ListParagraph">I hereby declare that all the information mentioned above are true.</li>
</ul>
<p class="ListParagraph">&nbsp;</p>
<p class="ListParagraph">&nbsp;</p>
<p class="BodyText">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>